body {
  background-color: white;
  display: flex;
  flex-direction:column;
}

@font-face {
  font-family: 'Arial-Rounded';
  src: url('../font/unicode.arialr.ttf');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error-message {
  font-family: 'Arial-Rounded';
  font-size: 11.8px;
  color: black;
  margin-top: 2px;
  margin-bottom: -20px;
  text-align: start;
  letter-spacing: 0.1em;
  font-weight: light;
}