body {
  background-color: white;
  display: flex;
  flex-direction:column;
}

@font-face {
  font-family: 'Arial-Rounded';
  src: url('../font/unicode.arialr.ttf');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

