.add-button-container {
  display: flex;
  justify-content: center;
  width: 98vw;
}

.data-clients-container {
  width: 85vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}

.data-clients-container thead tr th {
  color: var(--gula-red);
  border-bottom: 3px solid rgba(237, 28, 35, 0.166);
  margin-bottom: 1%;
  padding-bottom: 1%;
}

.data-clients-container thead {
  display: flex;
}

.data-clients-container tbody,
.data-clients-container thead {
  width: 70vw;
}

.data-clients-container tbody {
  gap: 1.5vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.data-clients-container tbody tr {
  display: flex;
  padding-bottom: 1px;
  align-items: center;
}

.data-clients-container thead tr {
  display: flex;
  width: 70vw;
}

.data-clients-container thead tr th,
.data-clients-container tbody tr td {
  display: flex;
  width: 8vw;
  font-size: 1vw;
  justify-content: start;
}

.data-clients-container thead tr th:nth-child(2),
.data-clients-container tbody tr td:nth-child(2) {
  padding-left: 5%;
}

.data-clients-container thead tr th:nth-child(3),
.data-clients-container tbody tr td:nth-child(3) {
  padding-left: 3%;
  width: 10vw;
}

.data-clients-container thead tr th:nth-child(4),
.data-clients-container tbody tr td:nth-child(4) {
  padding-left: 5%;
}

.data-clients-container thead tr th:nth-child(5),
.data-clients-container tbody tr td:nth-child(5) {
  padding-left: 10%;
}

.data-clients-container thead tr th:nth-child(6),
.data-clients-container tbody tr td:nth-child(6) {
  display: flex;
  width: 15vw;
  justify-content: end;
}

.data-clients-container tbody tr td:nth-child(7) {
  width: 2vw;
  height: 3vh;
  padding-left: 3%;
}

.data-clients-container tbody tr td:nth-child(8) {
  width: 2vw;
  height: 3vh;
  margin-left: -0.7vw;
}

.user-icons {
  width: 3vw;
  height: 3vh;
  color: var(--gula-red);
  cursor: pointer;
}

.request-error-container {
  width: 100%;
}

.fix-img-error {
  margin-top: -60px;
  width: 85vw;
}

.modal {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  padding: 20px 30px 20px 30px;
  justify-content: space-between;
  gap: 10px;
}

.modal-button__container {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  margin-top: 10px;
}

.modal form label {
  font-size: 0.8rem;
  color: var(--gula-red);
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: -10px;
  display: flex;
}

.modal form input {
  padding: 5px;
}

.modal-button__container input {
  height: 80%;
  background-color: var(--gula-red);
  border: none;
  color: white;
  font-size: 1.1rem;
}
