@font-face {
    font-family: 'Arial-Rounded';
    src: url('../font/unicode.arialr.ttf');
}

.data-prov-container {
    width: 90em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    font-family: 'Arial-Rounded';
}

.data-prov-container thead,
.data-prov-container tbody {
    width: 70em;    
}

.data-prov-container thead tr th {
    color: var(--gula-red);
    border-bottom: 3px solid rgba(237, 28, 35, 0.166);
    padding-bottom: 3.5px;
    font-size: 1.15rem;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}

.data-prov-container tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;    
    overflow-y: scroll;
}

.data-prov-container thead tr,
.data-prov-container tbody tr {
    display: flex;

}

.data-prov-container thead tr th,
.data-prov-container tbody tr td {
    display: flex;
}

.data-prov-container thead tr th:nth-child(1),
.data-prov-container tbody tr td:nth-child(1) {
    width: 210px;
}
.data-prov-container thead tr th:nth-child(2),
.data-prov-container tbody tr td:nth-child(2) {
    width: 160px;
    padding-left: 15px;
}
.data-prov-container thead tr th:nth-child(3),
.data-prov-container tbody tr td:nth-child(3) {
    width: 80px;
    padding-left: 30px;
}
.data-prov-container thead tr th:nth-child(4),
.data-prov-container tbody tr td:nth-child(4) {
    width: 90px;
}
.data-prov-container thead tr th:nth-child(5),
.data-prov-container tbody tr td:nth-child(5) {
    width: 90px;
}
.data-prov-container thead tr th:nth-child(6),
.data-prov-container tbody tr td:nth-child(6) {
    width: 160px;
    padding-left: 70px;
}
.data-prov-container thead tr th:nth-child(7),
.data-prov-container tbody tr td:nth-child(7) {
    width: 90px;
    justify-content: end;
    padding-left: 5px;
}

.data-prov-container tbody tr td:nth-child(8) {
    margin-left: 53px;
}

.add-button-container {
    display: flex;    
}

.add-button {
    color: var(--gula-red);
}

.user-icons {
    color: var(--gula-red);
}

