.footer-container {
    width: 75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    height: 10em;
    margin-bottom: 20px;
}

.footer-container ul {
    list-style: none;
    display: flex;
    width: 15em;
    height: 2em;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-container ul li {
    margin-left: -40px;
    color: black;
}

.social-icons {
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}

.facebook:hover {
    color: blue;
}

.twitter:hover {
    color: cornflowerblue;
}

.instagram:hover {
    color: deeppink;
}

.whatsapp:hover {
    color: green;
}

.footer-container div {
    color: rgba(0, 0, 0, 0.447);
}