.footer-container {
    width: 98vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    height: 10em;
    margin-bottom: 20px; 
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.206);
    border-top: 1px solid rgba(128, 128, 128, 0.393);
    border-bottom: 1px solid rgba(128, 128, 128, 0.393);
}

.footer-container ul {
    list-style: none;
    display: flex;
    width: 10.5em;
    height: 2em;
    align-items: center;
    gap: 85px;
    margin-top: 40px;
}

.footer-container ul li {
    margin-left: -40px;
    color: black;
}

.social-icons {
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.facebook:hover {
    color: blue;
}

.twitter:hover {
    color: cornflowerblue;
}

.instagram:hover {
    color: deeppink;
}

.whatsapp:hover {
    color: green;
}

.footer-container div {
    color: rgba(0, 0, 0, 0.389);
    font-family: 'Arial-Rounded';
    margin-top: 10px;
    font-size: 0.9rem;
}