.footer-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    margin-bottom: 20px; 
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.206);
    border-top: 1px solid rgba(128, 128, 128, 0.393);
    border-bottom: 1px solid rgba(128, 128, 128, 0.393);
}

.footer-container ul {
    list-style: none;
    display: flex;
    width: 18vw;
    height: 2em;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0;
}

.footer-container ul li {
    color: black;
}

.social-icons {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

.facebook:hover {
    color: blue;
}

.twitter:hover {
    color: cornflowerblue;
}

.instagram:hover {
    color: deeppink;
}

.whatsapp:hover {
    color: green;
}

.footer-container div {
    color: rgba(0, 0, 0, 0.389);
    font-family: 'Arial-Rounded';
    margin-top: 10px;
    font-size: 1.1vw;
}