.header-container {
    width: 98vw;
    height: 6em;
    background-color: var(--gula-red);
    border-radius: 3px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header-container img {
    width: 5.5em;
    margin-left: 2.5em;
    cursor: pointer;
}

.header-container .user-profile {
    border-radius: 50%;
    width: 3.6em;
    cursor: pointer;
}

.user-container {
    display: flex;
    align-items: center;
    margin-right: 1em;
    border-left: 2px solid rgba(255, 255, 255, 0.514);
    padding-left: 18px;
    height: 75%;
}

.user {
    font-family: 'Arial-Rounded';
    font-size: 0.8rem;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-right: -20px;
}

.nav-pages {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Arial-Rounded';
    color: white;
    font-size: 0.79rem;
    font-weight: 600;
    padding-bottom: 5px;
}

a:hover {
    border-bottom: 3px solid white;
    color: rgba(255, 255, 255, 0.741);
}