@font-face {
    font-family: 'Arial-Rounded';
    src: url('../font/unicode.arialr.ttf');
}

.header-container {
    width: 90em;
    height: 6em;
    background-color: var(--gula-red);
    border-radius: 3px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.header-container img {
    width: 6.5em;
    margin-left: 2.5em;
    cursor: pointer;
}

.header-container .user-profile {
    border-radius: 50%;
    width: 3.6em;
    cursor: pointer;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-right: 1em;
}

.user {
    font-family: 'Arial-Rounded';
    font-size: 15px;
    color: white;
    font-weight: bolder;
    margin-top: 1em;
    cursor: pointer;
}

.nav-pages {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Arial-Rounded';
    color: white;
    font-weight: 600;
}