body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Arial-Rounded';
    src: url('../font/unicode.arialr.ttf');
}

/* Header Component's style */

.header-container {
    width: 75em;
    height: 6em;
    background-color: red;
    border-radius: 3px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 6em;
    margin-left: 1em;
}

.user-profile {
    border-radius: 50%;
    width: 3.6em;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-right: 1em;
}

.user {
    font-family: 'Arial-Rounded';
    font-size: 11px;
    color: white;
    font-weight: 100;
    font-weight: bolder;
    margin-top: 1em;
}

/* "Cliente" and "Proveedores" Component's style */

.text-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 0.5em;

}

.text-divider {
    width: 0.2em;
    height: 1.6em;
    background-color: red;
    border-radius: 5px;
    margin-top: 0.8em;
}

.text {
    font-family: 'Arial-Rounded';
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    margin-top: 14px;
}

/* "Clientes" and "Proveedores Component's styles */

.list-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-right: 10px;
}

.list {
    color: red;
    font-size: larger;
    font-weight: bolder;
}

.divider-line {
    width: 88%;
    height: 0.2em;
    border-radius: 15px;
    background-color: red;
    margin-left: 2em;
}

.add-client {
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    background-color: red;
    border: 0px;
    cursor: pointer;
    margin-top: 1em;
}

.nav-pages {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Arial-Rounded';
    color: white;
    font-weight: 600;
}

.list-container {
    margin-top: 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 25%;
    height: 35em;
    border-radius: 1em;
    font-family: 'Arial-Rounded';
    gap: 1em;
}

.btn-contacto {
    border-radius: 1em;
    width: 40%;
    height: 6%;
    font-family: 'Arial-Rounded';
    border: 0px;
    background-color: lightslategray;
}

.btn-contacto:active {
    background-color: pink;
    color: white;
}

h3 {
    font-family: 'Arial-Rounded';
    color: red;
}

.text-type {
    color: white;
    font-size: larger;
}

.branch {
    font-family: 'Arial-Rounded';
    font-size: 3em;
    color: red;
    margin-top: 1em;
    margin-bottom: 1em;

}

.branch-text {
    font-family: 'Arial-Rounded';
    font-size: 1.3em;
    line-height: 2em;
}

.red-logo {
    width: 10em;
    margin-top: 1em;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74em;
    height: 20em;
    border: solid red 2px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 1.5em;
}

.flyers {
    font-size: 22px;
}

.flyers-container {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
    gap: 2.5%;
    

}

.another-flyers {
    display: flex;
    width: 30%;
    height: 15em;
    border: solid red 2px;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 75em;
    height: 6em;
    background-color: red;
    border-radius: 3px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
