body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Arial-Rounded';
    src: url('../font/unicode.arialr.ttf');
}

.first {
    display: flex;
    width: 73em;
    height: 20em;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 1.5em;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.213);
    padding: 2px;
}

.flyers {
    font-size: 22px;
}

.flyers-container {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
    gap: 4vh;
}

.another-flyers {
    display: flex;
    width: 25.6em;
    height: 15em;
    border: none;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.213);
    padding: 2px;
}

.promo {
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}