.login-page-text {
    color: white;
    font-size: .95rem;
    font-family: 'Arial-Rounded';
    font-weight: 600;
}

.login-text {
    color: white;
    font-family: 'Arial-Rounded';
    font-size: .95rem;
    font-weight: 600;
    margin-top: 1.5em;
}

#title-user {
    margin-top: 2em;
}

#input-user {
    font-family: 'Arial-Rounded';
    width: 25em;
    height: 2.1em;
    margin-top: 1em;
    border: none;
    border-radius: 3px;
    text-align: center;
}

#input-user2 {
    width: 25em;
    height: 2.1em;
    margin-top: 0em;
    border: none;
    border-radius: 3px;
    text-align: center;
}

#boton-enviar {
    width: 25em;
    height: 2.3em;
    font-family: 'Arial-Rounded';
    border-radius: 3px;
    border: none;
    background-color: lightgrey;
    color: black;
    cursor: pointer
}

#boton-enviar:active {
    background-color: #888;
    color: white;
}

.components-container {
    display: flex;
    height: calc(100vh - 2em);
    gap: 7em;
    align-items: center;
    justify-content: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-text__data {
    font-size: 0.7rem;
    margin-top: 8px;
}

.right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.right-container__form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.error-message {
    font-family: 'Arial-Rounded';
    font-size: 11.8px;
    color: white;
    margin-top: 2px;
    margin-bottom: -20px;
    text-align: start;
    letter-spacing: 0.1em;
    font-weight: light;
}