.add-button {
    color: var(--gula-red);
    width: 35px;
    height: 35px;
    margin-top: 17px;
    cursor: pointer;
    transition: transform 1s;
    position: absolute;
    right: 95px;
    top: 155px;
}

.add-button:hover {
    transform: rotate(180deg);
}