.add-button__container {
    height: 5vh;
}

.add-button {
    color: var(--gula-red);
    width: 6vw;
    height: 6vh;
    cursor: pointer;
    transition: transform 1s;
    margin-left: 8%;
    margin-top: -10%;
}

.add-button:hover {
    transform: rotate(180deg);
}