.sign-off-container {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.sign-off-button {
    width: 9vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    background: var(--gula-red);
    cursor: pointer;
    font-size: 1vw;
}