.sign-off-container {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 98vw;
    display: flex;
    justify-content: center;
}

.sign-off-button {
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    background: var(--gula-red);
    cursor: pointer;
}