.switch-container {
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
    font-weight: bold;
    font-size: 0.95rem;
    letter-spacing: 1px;
    height: 30px;
}

.switch-container :nth-child(2) {
    color: var(--gula-red);
    font-size: 1.6rem;
    font-weight: bolder;
    cursor: default;
}

.switch-container :nth-child(1),
.switch-container :nth-child(3) {
    cursor: pointer;
    text-decoration: none;
    color: rgba(81, 81, 81, 0.496);
}

.switch-container :nth-child(1):hover,
.switch-container :nth-child(3):hover {
    color: rgba(17, 17, 17, 0.75);
}